<div th:fragment="modal">
  <div id="callModal" class="modal fade" tabindex="-1" aria-labelledby="callModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="callModalLabel">전화 수신</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>내선 번호:</strong> <span id="modalPNo"></span></p>
          <p><strong>전화 번호:</strong> <span id="modalCNo"></span></p>
          <p><strong>프로젝트 이름:</strong> <span id="modalProjectName"></span></p>
          <p><strong>고객 이름:</strong> <span id="modalPersonName"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">숨기기</button>
          <button type="button" class="btn btn-primary" id="answerCallButton">전화받기</button>
        </div>
      </div>
    </div>
  </div>
</div>
