<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content" id="dashboard-content">

  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f0f2f5;
      margin: 0;
      padding: 20px;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .card {
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border: none;
      border-radius: 20px;
      margin: 10px;
      padding: 20px;
      flex: 1 1 calc(25% - 20px);
      min-width: 200px;
      position: relative;
    }
    .card h5 {
      margin: 0;
      font-size: 1em;
      color: #ffffff;
    }
    .card .value {
      font-size: 2em;
      margin-top: 10px;
      color: #ffffff;
    }
    .card .change {
      font-size: 0.9em;
      color: #ffffff;
    }
    .chart-container {
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border: none;
      border-radius: 20px;
      margin: 10px;
      padding: 20px;
      flex: 1 1 calc(50% - 20px);
    }
    .chart-container h5 {
      margin: 0;
      font-size: 1em;
      color: #6c757d;
    }
    .chart {
      height: 150px;
    }
    .scrollable-content {
      max-height: 100px;
      overflow-y: auto;
      margin-top: 10px;
    }
    .scrollable-content ul {
      list-style-type: none;
      padding: 0;
    }
    .scrollable-content li {
      padding: 8px 0;
      border-bottom: 1px solid #ddd;
      color: #343a40;
    }

    .card.visits {
      background-color: #1e88e5;
      color: #ffffff;
    }
    .refresh-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #ffffff;
      cursor: pointer;
    }.refresh-icon {
       position: absolute;
       top: 10px;
       right: 10px;
       color: #ffffff;
       cursor: pointer;
     }

    .loading-spinner {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 3px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      border-top-color: #ffffff;
      animation: spin 1s ease-in-out infinite;
      -webkit-animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
      to { -webkit-transform: rotate(360deg); }
    }

    @-webkit-keyframes spin {
      to { -webkit-transform: rotate(360deg); }
    }

  </style>

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">DASH BOARD</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="chart-container">
          <h5>게시판 최신 글</h5>
          <div class="scrollable-content" id="scrollable-content">
            <ul>
              <li>게시판 글 제목 1</li>
              <li>게시판 글 제목 2</li>
              <li>게시판 글 제목 3</li>
              <li>게시판 글 제목 4</li>
              <li>게시판 글 제목 5</li>
              <li>게시판 글 제목 6</li>
              <li>게시판 글 제목 7</li>
              <li>게시판 글 제목 8</li>
              <li>게시판 글 제목 9</li>
              <li>게시판 글 제목 10</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card visits">
          <h5>오늘 처리건</h5>
          <div class="value"  id="todayCom"></div>
          <p class="small-text text-success" id="yesterdayCom"><i class="fas fa-arrow-up"></i> 전일 건</p>
          <div class="change" id="percentChange"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card visits">
          <h5>이번달 처리건</h5>
          <div class="value" id="thisMonthCom"></div>
          <p class="small-text" id="lastMonthCom"><i class="fas" id="monthChangeArrow"></i> 전월 건</p>
          <div class="change" id="monthPercentChange"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card visits">
          <h5>이번달 마일리지</h5>
          <div class="value" id="currentFee"></div>
          <p class="small-text" id="previousFee"> <i class="fas " id="changeIcon"></i>   </p>
          <div class="change" id="changePercentage"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card visits">
          <h5>시간당 평균 콜 수</h5>
          <div class="value" id="todayAvgHourlyCount"></div>
          <p class="small-text">
            <i class="fas " id="avgChangeIcon"></i> <span id="monthAvgHourlyCount"></span>
          </p>
          <div class="change" id="avgChangePercentage"></div>
        </div>
      </div>
    </div>

    <div th:if="${session.userPosition == '99'}" id="adminDashboard" class="mt-4">
      <div class="row mb-4">
        <div class="col-md-12">
          <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
              <h3 class="card-title mb-0">업체 마일리지 요약</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text">오늘 마일리지</span>
                      <span class="info-box-number" id="todayCompanyFee"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text">이번달 마일리지</span>
                      <span class="info-box-number" id="thisMonthCompanyFee"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text">전달 같은 일자까지 마일리지 </span>
                      <span class="info-box-number" id="lastMonthTodayCompanyFee"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text">전달 마일리지</span>
                      <span class="info-box-number" id="lastMonthCompanyFee"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-4">
                  <div class="info-box bg-info text-white">
                    <div class="info-box-content">
                      <span class="info-box-text">이번달 예상 마일리지(주말 제외)</span>
                      <span class="info-box-number" id="estimatedMonthTotal"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info-box bg-success text-white">
                    <div class="info-box-content">
                      <span class="info-box-text">평균 마일리지</span>
                      <span class="info-box-number" id="dailyAverage"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info-box bg-warning text-white">
                    <div class="info-box-content">
                      <span class="info-box-text">이번달 총 평일 수 / 지난 평일 수</span>
                      <span class="info-box-number">
                            <span id="totalWorkingDays"></span> / <span id="workingDaysPassed"></span>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
              <h3 class="card-title mb-0">상담원 수수료 리스트</h3>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped table-hover mb-0">
                  <thead>
                  <tr>
                    <th>상담원</th>
                    <th>오늘 수수료</th>
                    <th>이번달 수수료</th>
                    <th>총 통화</th>
                    <th>오늘 통화</th>
                    <th>통화당 수수료</th>
                  </tr>
                  </thead>
                  <tbody id="consultantFeesList">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-header bg-info text-white">
              <h3 class="card-title mb-0">업체별 수수료 리스트</h3>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped table-hover mb-0">
                  <thead>
                  <tr>
                    <th>업체명</th>
                    <th>오늘 수수료</th>
                    <th>이번달 수수료</th>
                    <th>전달 수수료</th>
                  </tr>
                  </thead>
                  <tbody id="companyFeesList">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
      <div class="chart-container">
        <h5>주간 수수료</h5>
        <canvas id="weeklyFeeChart" class="chart"></canvas>
      </div>
      </div>
        <div class="col-md-6">
          <div class="chart-container">
            <h5>일간 처리건</h5>
            <canvas id="dailyTasksChart" class="chart"></canvas>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="chart-container">
          <h5>업체별 처리건 </h5>
          <canvas id="deviceTrafficChart" class="chart"></canvas>
        </div>
      </div>
      <div class="col-md-6">
        <div class="chart-container">
          <h5>상담 유형별</h5>
          <canvas id="locationTrafficChart" class="chart"></canvas>
        </div>
      </div>
    </div>


  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script>

    loadDashboardData();
    initDailyTasksChart();

    function loadDashboardData() {
      $('#refreshIcon').addClass('fa-spin'); // 로딩 애니메이션 추가

      $.ajax({
        url: '/api/dashboard-data',
        method: 'GET',
        success: function(response) {
          var data = response['card-data-1'];
          var pointList = response['pointlist-data'];
          var avgHourlyData = response['avg-hourly-data'];

          var currentFee, previousFee;

          for (var i = 0; i < pointList.length; i++) {
            if (pointList[i].period === '이번달 합계' || pointList[i].period === '이번달') {
              currentFee = pointList[i];
            }
            if (pointList[i].period === '전달 합계' || pointList[i].period === '전달') {
              previousFee = pointList[i];
            }
          }

          if (currentFee && previousFee) {
            var currentAmount = currentFee.amount || currentFee.pointSum;
            var previousAmount = previousFee.amount || previousFee.pointSum;

            $('#currentFee').text(currentAmount.toLocaleString() + ' 원');
            $('#previousFee').text('전월 '+previousAmount.toLocaleString() + ' 원');

            var percentChange = ((currentAmount - previousAmount) / previousAmount * 100).toFixed(2);
            var changeText = percentChange > 0 ? '+' + percentChange + '%' : percentChange + '%';
            var changeClass = percentChange > 0 ? 'text-success' : 'text-danger';
            var changeIcon = percentChange > 0 ? 'fa-arrow-up' : 'fa-arrow-down';
            $('#changePercentage').text(changeText);
            $('#changeIcon').removeClass().addClass('fas ' + changeIcon + ' ' + changeClass);
          } else {
            $('#currentFee').text('N/A');
            $('#previousFee').text('N/A');
            $('#changePercentage').text('N/A');
          }

          if (avgHourlyData) {
            $('#todayAvgHourlyCount').text(avgHourlyData.todayCom.toLocaleString() + ' 건/시간');
            $('#monthAvgHourlyCount').text(avgHourlyData.thisMonth.toLocaleString() + ' 건/시간');

            var avgPercentChange = avgHourlyData.percentChange;
            var avgChangeText = avgPercentChange > 0 ? '+' + avgPercentChange + '%' : avgPercentChange + '%';
            var avgChangeClass = avgPercentChange > 0 ? 'text-success' : 'text-danger';
            var avgChangeIcon = avgPercentChange > 0 ? 'fa-arrow-up' : 'fa-arrow-down';

            $('#avgChangePercentage').text(avgChangeText);
            $('#avgChangeIcon').removeClass().addClass('fas ' + avgChangeIcon + ' ' + avgChangeClass);
          } else {
            $('#todayAvgHourlyCount').text('N/A');
            $('#monthAvgHourlyCount').text('N/A');
            $('#avgChangePercentage').text('N/A');
          }

          var todayCom = data.todayCom;
          var yesterdayCom = data.yesterdayCom;
          var percentChange = data.percentChange;

          $('#todayCom').text(todayCom + " 건");
          if (percentChange < 0) {
            $('#yesterdayCom').html('<i class="fas fa-arrow-down text-danger"></i> 전일 ' + yesterdayCom.toLocaleString() + '건').addClass('text-danger').removeClass('text-success');
          } else {
            $('#yesterdayCom').html('<i class="fas fa-arrow-up text-success"></i> 전일 ' + yesterdayCom.toLocaleString() + '건').addClass('text-success').removeClass('text-danger');
          }
          if (percentChange < 0) {
            $('#changeArrow').removeClass('fa-arrow-up').addClass('fa-arrow-down text-danger');
            $('#percentChange').text(percentChange + ' %');
          } else {
            $('#changeArrow').removeClass('fa-arrow-down').addClass('fa-arrow-up text-success');
            $('#percentChange').text('+' + percentChange + ' %');
          }

          var thisMonthCom = data.thisMonth;
          var lastMonthCom = data.previousMonth;
          var monthPercentChange = data.monthPercentChange;

          $('#thisMonthCom').text(thisMonthCom.toLocaleString() + " 건");
          if (monthPercentChange < 0) {
            $('#lastMonthCom').html('<i class="fas fa-arrow-down text-danger"></i> 전월 ' + lastMonthCom.toLocaleString() + '건').addClass('text-danger').removeClass('text-success');
          } else {
            $('#lastMonthCom').html('<i class="fas fa-arrow-up text-success"></i> 전월 ' + lastMonthCom.toLocaleString() + '건').addClass('text-success').removeClass('text-danger');
          }

          if (monthPercentChange < 0) {
            $('#monthChangeArrow').removeClass('fa-arrow-up').addClass('fa-arrow-down text-danger');
            $('#monthPercentChange').text(monthPercentChange.toLocaleString() + '%');
          } else {
            $('#monthChangeArrow').removeClass('fa-arrow-down').addClass('fa-arrow-up text-success');
            $('#monthPercentChange').text('+' + monthPercentChange.toLocaleString() + '%');
          }
        },
        error: function(error) {
          console.error('Error loading dashboard data', error);
        },
        complete: function() {
          $('#refreshIcon').removeClass('fa-spin'); // 로딩 애니메이션 제거
        }
      });
    }


    function initDailyTasksChart() {
      $.ajax({
        url: '/api/dashboard-daily-tasks',
        method: 'GET',
        success: function(response) {
          var dailyTasksCtx = document.getElementById('dailyTasksChart').getContext('2d');
          var data = response.dailyTasks;

          var labels = [];
          var chartData = [];

          data.forEach(function(item) {
            // 'YYYYMMDD' 형식에서 일(DD) 부분만 추출
            var day = item.point_DATE.slice(6, 8);
            labels.push(parseInt(day) + '일');
            chartData.push(item.daily_PRCSUM);
          });

          var dailyTasksChart = new Chart(dailyTasksCtx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: [{
                label: '일간 처리건',
                data: chartData,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
              }]
            },
            options: {
              responsive: true,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
        },
        error: function(xhr, status, error) {
          console.error('Error fetching daily tasks data:', error);
        }
      });
    }

    $(function() {
      console.log('jQuery ready 이벤트 발생');

      var weeklyFeeCanvas = document.getElementById('weeklyFeeChart');
      var dailyTasksCanvas = document.getElementById('dailyTasksChart');
      var deviceTrafficCanvas = document.getElementById('deviceTrafficChart');
      var locationTrafficCanvas = document.getElementById('locationTrafficChart');

      if (weeklyFeeCanvas && dailyTasksCanvas && deviceTrafficCanvas && locationTrafficCanvas) {
        console.log('캔버스 요소를 찾았습니다.');

        var weeklyFeeCtx = weeklyFeeCanvas.getContext('2d');
        var dailyTasksCtx = dailyTasksCanvas.getContext('2d');
        var deviceTrafficCtx = deviceTrafficCanvas.getContext('2d');
        var locationTrafficCtx = locationTrafficCanvas.getContext('2d');

        if (weeklyFeeCtx && dailyTasksCtx && deviceTrafficCtx && locationTrafficCtx) {
          console.log('캔버스 컨텍스트를 초기화했습니다.');



          var today = new Date();
          var labels = [];
          var data = [];
          for (var i = 1; i <= today.getDate(); i++) {
            labels.push(i + '일');
            data.push(Math.floor(Math.random() * 100));
          }





          var locationTrafficChart = new Chart(locationTrafficCtx, {
            type: 'doughnut',
            data: {
              labels: ['United States', 'Canada', 'Mexico', 'Other'],
              datasets: [{
                label: 'Traffic by Location',
                data: [38.5, 22.5, 30.8, 8.1],
                backgroundColor: [
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                  'rgba(75, 192, 192, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
              }]
            },
            options: {
              responsive: true
            }
          });

          console.log('차트를 성공적으로 생성했습니다.');
        } else {
          console.error('캔버스 컨텍스트 초기화 실패');
        }
      } else {
        console.error('캔버스 요소를 찾을 수 없습니다.');
      }

      var scrollableContent = document.getElementById('scrollable-content');
      var scrollSpeed = 1;

      function autoScroll() {
        scrollableContent.scrollTop += scrollSpeed;
        if (scrollableContent.scrollTop + scrollableContent.clientHeight >= scrollableContent.scrollHeight) {
          scrollableContent.scrollTop = 0;
        }
        requestAnimationFrame(autoScroll);
      }

      autoScroll();


      // 대시보드 데이터 로드 함수





      // 모든 데이터 로드 함수 호출


    });
  </script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var userPosition = /*[[${session.userPosition}]]*/ '0';
    /*]]>*/


    $(document).ready(function() {
      loadWeeklyFeesChart();
      updateDeviceTrafficChart();
      if (userPosition === '99') {
        loadCompanyFeeSummary();
        loadCompanyFeeList();
        loadEstimatedMonthlyFee();
        loadConsultantFeesList();

      }
    });

    function loadCompanyFeeSummary() {
      $.ajax({
        url: '/api/dashboard/company-fee-summary',
        method: 'GET',
        success: function(data) {
          $('#todayCompanyFee').text(formatCurrency(data.TODAYCOMPANYFEE));
          $('#thisMonthCompanyFee').text(formatCurrency(data.THISMONTHCOMPANYFEE));
          $('#lastMonthTodayCompanyFee').text(formatCurrency(data.LASTMONTHTODAYCOMPANYFEE));
          $('#lastMonthCompanyFee').text(formatCurrency(data.LASTMONTHCOMPANYFEE));
        },
        error: function(error) {
          console.error('업체 마일리지 요약 데이터 로드 실패:', error);
        }
      });
    }
    function loadCompanyFeeList() {
      $.ajax({
        url: '/api/dashboard/company-fee-list',
        method: 'GET',
        success: function(data) {
          var tableBody = $('#companyFeesList');
          tableBody.empty();
          $.each(data, function(index, company) {
            var row = $('<tr>');
            row.append($('<td>').text(company.COMPANYNAME));
            row.append($('<td>').text(formatCurrency(company.TODAYFEE)));
            row.append($('<td>').text(formatCurrency(company.THISMONTHFEE)));
            row.append($('<td>').text(formatCurrency(company.LASTMONTHFEE)));
            tableBody.append(row);
          });
        },
        error: function(error) {
          console.error('업체별 수수료 리스트 로드 실패:', error);
        }
      });
    }
    function loadEstimatedMonthlyFee() {
      $.ajax({
        url: '/api/dashboard/estimated-monthly-fee',
        method: 'GET',
        success: function(data) {
          $('#estimatedMonthTotal').text(formatCurrency(data.ESTIMATEDMONTHTOTAL));
          $('#dailyAverage').text(formatCurrency(data.DAILYAVERAGE));
          $('#totalWorkingDays').text(data.TOTALWORKINGDAYS);
          $('#workingDaysPassed').text(data.WORKINGDAYSPASSED);
        },
        error: function(error) {
          console.error('예상 월간 수수료 데이터 로드 실패:', error);
        }
      });
    }
    function loadConsultantFeesList() {
      $.ajax({
        url: '/api/dashboard/consultant-fees',
        method: 'GET',
        success: function(data) {
          console.log('상담원 수수료 리스트:', data);
          var tableBody = $('#consultantFeesList');
          tableBody.empty();
          $.each(data, function(index, consultant) {
            var row = $('<tr>');
            row.append($('<td>').text(consultant.EMPNAME));
            row.append($('<td>').text(formatCurrency(consultant.TODAYFEE)));
            row.append($('<td>').text(formatCurrency(consultant.MONTHFEE)));
            row.append($('<td>').text(consultant.TOTALCALLS));
            row.append($('<td>').text(consultant.TODAYCALLS));
            row.append($('<td>').text(formatCurrency(consultant.FEEPERCALL)));
            tableBody.append(row);
          });
        },
        error: function(error) {
          console.error('상담원 수수료 리스트 로드 실패:', error);
        }
      });
    }
    function formatCurrency(amount) {
      // null 체크 추가
      if (amount == null) {
        return '0';
      }
      return new Intl.NumberFormat('ko-KR', { style: 'currency', currency: 'KRW' }).format(amount);
    }

    function loadWeeklyFeesChart() {
      $.ajax({
        url: '/api/dashboard/weekly-fees',
        method: 'GET',
        success: function(data) {
          var labels = [];
          var values = [];

          data.forEach(function(item) {
            if (item.period !== '이번주 합계') {
              labels.push(item.PERIOD);
              values.push(item.POINTSUM);
            }
          });

          var ctx = document.getElementById('weeklyFeeChart').getContext('2d');
          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: [{
                label: '일별 수수료',
                data: values,
                backgroundColor: 'rgba(75, 192, 192, 0.6)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
              }]
            },
            options: {
              responsive: true,
              scales: {
                y: {
                  beginAtZero: true,
                  title: {
                    display: true,
                    text: '수수료 (원)'
                  }
                }
              },
              plugins: {
                title: {
                  display: true,
                  text: '주간 수수료 차트'
                },
                legend: {
                  display: false
                }
              }
            }
          });
        },
        error: function(error) {
          console.error('주간 수수료 데이터 로드 실패:', error);
        }
      });
    }

    function updateDeviceTrafficChart() {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/api/dashboard/device-traffic', true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var data = JSON.parse(xhr.responseText);
          var labels = [];
          var values = [];
          var otherSum = 0;
          var topN = 5; // 상위 5개만 표시

          // 데이터를 count 기준으로 내림차순 정렬
          data.sort(function(a, b) {
            return b.COUNT - a.COUNT;
          });

          // 상위 N개 항목 처리
          for (var i = 0; i < Math.min(topN, data.length); i++) {
            labels.push(data[i].CUST_NAME);
            values.push(data[i].COUNT);
          }

          // 나머지 항목을 '기타'로 합산
          if (data.length > topN) {
            for (var i = topN; i < data.length; i++) {
              otherSum += data[i].COUNT;
            }
            labels.push('기타');
            values.push(otherSum);
          }

          var ctx = document.getElementById('deviceTrafficChart').getContext('2d');
          new Chart(ctx, {
            type: 'pie',
            data: {
              labels: labels,
              datasets: [{
                data: values,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
                  'rgba(75, 192, 192, 0.8)',
                  'rgba(153, 102, 255, 0.8)',
                  'rgba(201, 203, 207, 0.8)' // 기타 항목용 색상
                ]
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'bottom'
              },
              title: {
                display: true,
                text: '고객사별 처리 건수 (상위 5개)'
              },
              tooltips: {
                callbacks: {
                  label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex];
                    var total = dataset.data.reduce(function(previousValue, currentValue) {
                      return previousValue + currentValue;
                    }, 0);
                    var currentValue = dataset.data[tooltipItem.index];
                    var percentage = Math.floor(((currentValue/total) * 100)+0.5);
                    return data.labels[tooltipItem.index] + ': ' + currentValue + ' (' + percentage + "%)";
                  }
                }
              }
            }
          });
        }
      };
      xhr.send();
    }
  </script>
</div>
</html>
