<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hidden Tetris</title>
  <link rel="stylesheet" th:href="@{/css/tetris.css}">
</head>
<body>
<div id="game-container">
  <canvas id="tetris"></canvas>
  <div id="info">
    <canvas id="next"></canvas>
    <p>Score: <span id="score">0</span></p>
    <p>Level: <span id="level">1</span></p>
    <p>High Score: <span id="highScore">0</span></p>
    <button id="start-pause">Pause</button>
  </div>
</div>
<script th:src="@{/js/tetris.js}"></script>
</body>
</html>